.flash {
  background-color: #feefd0;
  padding: 2rem 0px;
}

.timer-box {
  background: #fab118 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #0E1740;
  padding: 2px;
}

.box {
  padding: 15px 19px !important;
}
