.all {
  margin-top: 6rem;
}
.all2 {
  background-color: #f5f9f9;
}
.leftPos {
  margin-left: 7rem !important;
}
.container{
  background-color: #f5f9f9;
}
.filterbtn,.filterbtn:hover{
  background-color: white;
  border-radius: 10px;
  outline: none;
  border: none;
}
.filterItem{
  width: 120px !important;
}
.itemFilter{
  width: 150px !important;
  height: 50px !important;
}
.sort{
  width: 120px !important;
  height: 50px !important;
}
button{
  outline: none;
  border: none;
}
::ng-deep{
  .swiper-slide
  {
    overflow: hidden !important;
    width: 185px !important;
    // text-overflow: ellipsis !important;
    // white-space: nowrap !important;
  }
  .swiper-slide button{
    display: block;
    width: 100%;
    // width: 100%;
    // overflow: hidden;
    // white-space: nowrap !important;
    // text-overflow: ellipsis;
  }
}
@media (max-width: 768px) {
  .newArrivalItem {
    .rate {
      color: white;
      background-color: #5e2d77;
      border-radius: 10px;
      padding: 2px 2px;
      font-size: 12px;
      display: flex;
      align-items: center;
      width: 44px;
      justify-content: center;
      margin-left: 10px !important;
    }
    .productImage {
      max-width: 180px;
    }
    .productPrice {
      font-size: 16px !important;
      font-weight: 600 !important;
      span {
        font-size: 20px !important;
      }
    }

    .wishlist-wrapper {
      top: 1rem;
      //left: 22rem;
      right: -8.8rem !important;
      width: 30px;
      height: 30px;
      background-color: #35353517;
      z-index: 1;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .wishlist-btn {
        position: absolute;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        color: #2c3341;
        .wishlist-active {
          color: red;
        }
      }
    }
    .wish {
      right: -12rem !important;
    }
    .details {
      background-color: #f5f9f9;
      padding: 10px;
      position: relative;
      border-radius: 0 0 10px 10px;
      max-width: 100%;
      .product-info {
        font-size: 12px;
      }
      .productTitle,
      .productPrice {
        line-height: 1.5em;
        height: 3em; /* height is 2x line-height, so two lines will display */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
        font-size: 14px;
        font-weight: 500;
        color: #2c3341;
        margin: 0;
        text-align: left;
        -webkit-line-clamp: 2;
        span {
          font-size: 28px;
        }
      }
      .productPrice {
        span {
          font-size: 16px !important;
        }
        .currency {
          font-size: 10px !important;
          color: #7f828e;
          margin-right: 5px;
        }
      }
      .old-price {
        font-size: 10px !important;
        color: #7f828e;
        margin-right: 5px;
      }
      .productTitle {
        margin-top: 10px;
      }
      .info {
        p {
          font-size: 12px;
        }
      }
    }
  }
  .img1 {
    width: 180px !important;
    height: 180px !important;
    object-fit: cover;
    //height: 150px;
  }
  .brandImg {
    width: 40px;
  }
  .fa-eye {
    font-size: 12px;
  }
  .colorCount {
    background-color: #eef0f8;
    border-radius: 5px;
    font-size: 10px;
  }

  .Colors {
    margin-top: -2.8rem;
    margin-left: 20.7rem !important;
    border-radius: 5px !important;
    font-size: 17px;
  }
  .priceDiscount {
    color: green;
    margin-left: 5px;
  }
  .discount-price {
    margin-top: -0.9rem;
  }
  .label {
    position: absolute;
    left: 10px;
    top: -10px;
  }
  .label .left {
    background-color: #0e1740;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 12px;
  }
  .leftLan {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .label .right {
    background-color: #ed278d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 12px;
  }
  .rightLan {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .filter {
    padding: 5px;
    margin-left: 2.1rem;

    button {
      margin-top: 0rem !important;
      margin-left: -1rem;
      font-size: 18px;
      border-radius: 10px;
      background-color: rgba(0, 0, 1, 0.05);
      color: #5e2d77;
    }
  }
  .search {
    margin-top: 0.5rem !important;
    margin-left: -0.4rem;
    input {
      padding: 9px;
      outline: none;
      border: none;
      background-color: #eee;
      border-radius: 5px;
    }
  }
  .search input::placeholder {
    padding-left: 7px;
    font-size: 15px;
    color: #5e2d77;
  }
  .search-btn button {
    margin-top: 0.5rem !important;
    border-radius: 5px;
    margin-left: 0.2rem;
  }
}
.offerText {
  font-weight: 500;
}
.img2 {
  margin-top: -1rem;
  width: 270px !important;
  height: 210px !important;
  object-fit: contain !important;
}
.moveWish {
  margin-left: 160px;
}
.card {
  width: 23% !important;
  min-height: 419px !important;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background-color: white;
}
.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #5f2d79;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  margin-bottom: 50px;
  margin-top: 20px;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.dicount {
  margin-top: -0.5rem !important;
}
.title {
  font-size: 14px;
}
.price {
  margin-top: -0.8rem !important;
}
.label {
  margin-top: -0.5rem !important;
  position: absolute;
}
.label .left {
  background-color: #0e1740;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  padding: 5px;
  font-size: 12px;
}
.label .right {
  background-color: #ed278d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  padding: 5px;
  font-size: 12px;
}
.leftLan {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.productImage {
  max-width: 180px;
}
.wishlist-wrapper {
  top: 1rem;
  right: -4.9rem !important;
  width: 30px;
  height: 30px;
  background-color: #35353517;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .wishlist-btn {
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: #2c3341;
    .wishlist-active {
      color: red;
    }
  }
}
.rightLan {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.newArrivalItem {
  .rate {
    color: white;
    background-color: #5e2d77;
    border-radius: 10px;
    padding: 2px 2px;
    font-size: 12px;
    display: flex;
    align-items: center;
    width: 44px;
    justify-content: center;
    margin-left: 10px !important;
  }
  .productImage {
    max-width: 180px;
  }
  .productPrice {
    font-size: 16px !important;
    font-weight: 600 !important;
    span {
      font-size: 20px !important;
    }
  }
}
