section {
  background-color: transparent;
  padding: 0px 20px;
}

.address-content-notselect {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  color: #0e1740;
}

.address-content-select {
  background-color: #ffff;
  padding: 10px;
  border: 1px solid #48a299;
  border-radius: 15px;
  color: #0e1740;
}

::ng-deep {
  .p-dialog .p-dialog-header .p-dialog-title {
    font-size: 15px !important;
    padding: 7px 15px;
  }

  .myPanelClass {
    margin-top: 40px !important;
  }
  .p-dropdown .p-dropdown-label {
    display: inline-block;
    width: 100px !important;
  }
  .p-dropdown {
    background: transparent;
    border: 1px solid #eee !important;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 6px;
    width: 120px;
  }
}

.adding {
  border: 1px solid #0e1740;
  background-color: #0e1740;
  color: #ffffff;
  padding: 6px;
  border-radius: 7px;
  font-weight: 500;
  width: 20%;
  font-size: 14px;
}

.adding:hover {
  background-color: #ffffff;
  color: #0e1740;
  border: 1px solid #0e1740;
}

.shipping-address {
  box-shadow: 5px 7px 14px 3px rgb(238 236 236);
  border-radius: 20px !important;
  margin: 20px 0px;
  overflow: hidden;

  h4 {
    font-size: 16px;
    font-weight: 600;
  }

  h5 {
    font-size: 13px;
    font-weight: 500;
  }

  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;

  .address-content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 7px;

    p {
      font-size: 16px;
    }

    h4 {
      font-weight: 500;
      font-size: 13px;
    }

    h3 {
      font-size: 14px;
      font-weight: 600;
    }
  }

  button {
    color: #00a599;
    font-size: 14px;
  }
}

.save-address {
  width: 140px;
  height: 35px;
  font-weight: 600;
  border: 1px solid black;
  color: black;
  background-color: white;
  border-radius: 8px;
  font-size: 14px;
}

.line {
  background-color: rgb(230, 221, 221) !important;
  height: 80px !important;
  width: 1px !important;
  margin: 0px 15px;
}

.save-address:hover {
  border: 1px solid #0e1740;
  color: white;
  background-color: #0e1740;
}

.cancel-address {
  color: #7f828e;
  font-size: 14px;
  width: 80px;
  height: 35px;
  background-color: #d8dae0;
  border: 1px solid #d8dae0;
  margin: 0px 10px;
  font-weight: 600;
  border-radius: 8px;
}

.cancel-address:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
}

.edit-icon-address {
  background-color: transparent;
  color: #0e1740 !important;
  font-size: 18px;
  border: none;
}

.delete-icon-address {
  background-color: transparent;
  font-size: 18px;
  border: none;
}

.actions {
  transition: all 0.4s ease-in-out;
}

.actionsSlideOut {
  transform: translateX(85px);
}

.actionsSlideIn {
  transform: translateX(0px);
}

.actionsSlideOutAR {
  transform: translateX(-45px);
}

.actionsSlideInAR {
  transform: translateX(0px);
}

.del {
  transition: all 0.4s ease-in-out;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

// .delete
// {
//   transition: all 0.8s ease-in-out;
// }
.Delete {
  color: rgb(223, 41, 41) !important;
}

.btn-save-order {
  background-color: #ffffff;
  font-weight: 600;
  color: #5f2d79;
  height: 60px;
  border: 1px solid #5f2d79;
}

.btn-save-order:hover {
  background-color: #5f2d79;
  color: #ffffff;
  border: 1px solid #5f2d79;
}

::ng-deep {
  .dropDown {
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;
    .p-dropdown {
      width: 99%;
      border: none;
      margin-right: 1%;
    }
  }

  .phone {
    margin-bottom: 0;
  }
}
