.register{
  align-items: flex-start;

}
.login{
  margin: 75px 0px;
}
.txt-header
{
  h1
  {
    color: #0E1740;
    font-size: 28px;
    font-weight: 700;

  }
}
.btn-form[disabled=disabled],.btn-form:disabled{
  background-color: #cccccc !important;
  color: #4b4848 !important;
  font-weight: 500;
}
.register-form
{
  .terms
  {
    color: #5E2D77;
    border: 0;
    background-color: transparent;
    font-size: 13px;
  }
  .btn-form
  {
    background-color: #5e2d77;
    color: white;
    border: 1px solid #5e2d77;
    font-size: 21px;
    padding: 19px 10px;
    width: 85% !important;
    border-radius: 12px;
  }
  .btn-form:hover
  {
    background-color: #5E2D77;
    color: #FFFFFF;
  }
}

.txt-foot
{
  font-size: 12px;

}
.back{
  outline: none;
  border: none;
  margin-bottom: 2rem;
}
.btn-login
{
  border: 0;
  background-color: transparent;
  color: #5E2D77;
  font-size: 14px;
  font-weight: 600;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #5F2D79;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.logindiv{
  margin-bottom: 7rem !important;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-eye
{
  position: absolute;
  bottom: 5px;
  margin: 0px 10px;
  right: 0;
  background-color: transparent;
  border: 0;
  font-size: 13px;
  color: rgb(163, 157, 157) !important;
}
