.credit {
  margin-top: 75px !important;
  background-color: #f5f9f9;
  padding: 0px 20px;
  height: 100vh;
}
.availableBalance{
  width: 99vw;
  height: 11vh;
  background-color: #EFEAF1;
  border-radius: 10px;
}
.item{
  width: 99vw;
  height: 11vh;
  border-radius: 10px;

}
.shape{
  right: 12px;
  margin-top: -81px;
}
.totalPrice{
  font-weight: 700 !important;
  font-size: 22px !important;
  color: #5E2D77;
}
.total
{
  color:#00AE9F;
}
.head
{
  color:#0E1740
}
