<div class="sub p-2 py-5 web bg-white ">
  <div class="d-flex gap-4 justify-content-between align-items-center mx-3">
    <div class="arrow-left  d-flex justify-content-center align-items-center">
      <button (click)="slidePrev()" class="border-0 box rounded-2 " style="background-color: #f5f5f7;">
        <i   [ngClass]="language === 'en' ?'fa-solid fa-chevron-left':'fa-solid fa-chevron-right' "></i>
      </button>
    </div>
    <swiper #swiper [slidesPerView]="9" [autoplay]="true" [navigation]="false" [spaceBetween]="10" [loop]="true"
      class="mySwiper ">
      <ng-template swiperSlide *ngFor="let items of sub_categories|splitter:1">
        <div *ngFor="let item of items" class="m-2 d-flex justify-content-center">
          <div class="sub_category" (click)="navigateToproductList(item.id)">
            <div class="sub_category_image">
              <img width="100%" [src]="item?.cover" [alt]="item?.cover">
            </div>
            <p class="sub_category_title">{{item.title}}</p>
          </div>
        </div>
      </ng-template>
    </swiper>
    <div class="arrow-right  d-flex justify-content-center align-items-center">
      <button (click)="slideNext()" class="border-0 box rounded-2 " style="background-color: #f5f5f7;">
        <i  [ngClass]="language === 'en' ?'fa-solid fa-chevron-right':'fa-solid fa-chevron-left' "></i>
      </button>

    </div>
  </div>
</div>


<div class="sub py-2 mobile w-100">
  <div class="sub swiper-container w-100" *ngIf="sub_categories">
    <swiper [slidesPerView]="4" [loopedSlides]="4" [spaceBetween]="10"  [scrollbar]="{ draggable: true }" [loop]="true" class="mySwiper ">
      <ng-template swiperSlide *ngFor="let items of sub_categories|splitter:2">
        <div *ngFor="let item of items" class="my-2 ">
          <div class="sub_category " (click)="navigateToproductList(item.id)">
            <div class="sub_category_image">
              <img [src]="item?.cover" [alt]="item?.cover" class="">
            </div>
            <p class="sub_category_title">{{item.title}}</p>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
