<section class="  d-flex justify-content-center align-items-center">
  <div class="reset container">
    <!-- <div class="txt-header d-flex justify-content-start align-items-center mt-4">
      <h1>Reset  Your Password</h1>
    </div> -->

    <div class="txt my-2">
      <p class="text-muted">{{'HOME.ENTER_PASSWORD' | translate}}</p>
    </div>
    <div class="reset-form w-100">
      <form [formGroup]="resetPasswordForm">
        <!-- <mat-form-field class="example-full-width position-relative w-100">
          <mat-label>{{'PLACEHOLDERS.Password' | translate}}</mat-label>
          <input
            matInput
            [placeholder]="'PLACEHOLDERS.Password' | translate"
            type="password"
            formControlName="password"
            [type]="!showPassword ? 'password':'text'"
          />
          <button *ngIf="!showPassword" class="btn-eye" type="button" (click)="checkPassword()">
            <i *ngIf="!showPassword" class="fa-regular fa-eye-slash"></i>
          </button>
          <button *ngIf="showPassword" class="btn-eye" type="button" (click)="checkPassword()">
            <i *ngIf="showPassword" class="fa-regular fa-eye"></i>
          </button>
          <small
            class="text-danger position-absolute bottom-0 top-100 mt-2"
            style="left: 0"
            *ngIf="
              submitted && resetPasswordForm.get('password')?.hasError('required')
            "
          >
            {{'MESSAGES.Message_Password' | translate}}</small
          >
        </mat-form-field> -->



      <input  [type]="!showPassword ? 'password':'text'"  [placeholder]="'PLACEHOLDERS.Password' | translate"
      formControlName="password"  pInputText  class="w-100"/>
      <button *ngIf="!showPassword" class="btn-eye" type="button" (click)="checkPassword()">
        <i *ngIf="!showPassword" class="fa-regular fa-eye-slash"></i>
      </button>
      <button *ngIf="showPassword" class="btn-eye" type="button" (click)="checkPassword()">
        <i *ngIf="showPassword" class="fa-regular fa-eye"></i>
      </button>
      <small
        class="text-danger position-absolute bottom-0 top-100 mt-2"
        style="left: 0"
        *ngIf="
          submitted && resetPasswordForm.get('password')?.hasError('required')
        "
      >
        {{'MESSAGES.Message_Password' | translate}}</small
      >

        <div class=" d-flex justify-content-center align-items-center my-3">
          <button class="btn-form btn" (click)="resetPassword()">
            <div *ngIf="Loading == true " class="loader m-auto"></div>
                    {{Loading == false? 'Done':''}}
          </button>
        </div>


      </form>
    </div>
  </div>

</section>
