
  <section class="d-flex justify-content-center align-items-center ">
    <div class="verify container ">
      <!-- <div class="txt-header mt-4">
        <h1>Verify Phone</h1>
      </div> -->
      <div class="txt-phone my-3">
        <p class="text-muted">{{'HOME.SEND_CODE'|translate}} {{phone}}</p>
      </div>

      <!-- Ng Otp -->
      <div class="otp my-4 text-center">
        <ng-otp-input (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
      </div>

      <div class="my-3 timer d-flex justify-content-center align-items-center">
        <p>{{'HOME.RESEND_OTP'|translate}} <span class="">{{transform(counter)}}</span></p>
      </div>
      <!-- Ng Otp -->

      <div class="btn-submit text-center my-5 ">
        <button [disabled]="otp.length !== 4" class="btn " (click)="submit()">
          <div *ngIf="Loading == true " class="loader m-auto"></div>

          {{"BUTTONS.Submit" | translate}}
        </button>
      </div>

      <div class="footer d-flex justify-content-center align-items-center my-3">
        <div class="me-1 foot">{{'HOME.RESEIVE_CODE'|translate}}</div>
        <div class="btn-foot">
          <button (click)="startTimer()" [disabled]="counter !== 0" [ngStyle]="counter !== 0?{color:'#7f8087'}:{}">{{'BUTTONS.SEND_AGAIN'|translate }}</button>
        </div>
      </div>
    </div>
  </section>


