.address {
  margin-top: 75px !important;
  background-color: #f5f9f9;
  padding: 0px 20px;
  height: 100%;
}
.icon-home {
  background-color: #f5f9f9;
}

.edit {
  background: transparent !important;
  border: none;
  color: black;
}

.default {
  background-color: #00ae9f;
  padding: 5px 10px !important;
  border-radius: 25px;
  color: #f5f9f9;
  font-weight: 300;
}

.card {
  border: none;
  border-radius: 20px !important;
  // margin: 1.5rem ;
}
.address-details{
  margin-top: -.6rem !important;
}
.mobile{
  margin-top:.7rem !important;
}
.userName{
  font-size: 18px !important;
  margin-top: .5rem !important;
}
.delete-icon-address {
  background-color: transparent;
  font-size: 16px;
  border: none;
  margin-right: 5px;
}
.handleBtn{
  margin-left: 80px;
}
.handleAr{
  margin-left: -70px !important;
}
.leftBtns{
  width: 60% !important;
}
.save-address,.cancel-address{
  font-size: 13px;
  padding: 5px;
}

