<section class="borderItem d-flex justify-content-center align-items-center">
  <div class="forget container">
    <!-- <div class="txt-header d-flex justify-content-center align-items-center my-4">
      <h1>Forget Your Password?</h1>
    </div> -->

    <div class="txt mb-5 w-100">
      <p class="text-muted">
        Enter Your Phone Number and we'll send you a link to reset your password
      </p>
    </div>
    <div class="forget-form">
      <form [formGroup]="forgetForm">
        <div
          class="d-flex justify-content-between align-items-center position-relative"
        >
          <div class="d-flex justify-content-between align-items-center w-100">
            <!-- <mat-form-field class="example-full-width position-relative pe-2 w-25 p-inputtext2 me-2">
              <mat-label class="mt-2 ms-3">Code</mat-label>
              <mat-select formControlName="phoneCode" placeholder="{{'PLACEHOLDERS.Code' |translate}}" (selectionChange)="checkCode()"
                panelClass="myPanelClass">
                <mat-option value="+20">+20</mat-option>
                <mat-option value="+966">+966</mat-option>
              </mat-select>
              <small class="text-danger position-absolute bottom-0 top-100  mt-2" style="left: 0;" *ngIf="
                submitted &&
                forgetForm.get('phoneCode')?.hasError('required')
              ">
                {{'MESSAGES.required' |translate}}</small>
            </mat-form-field> -->
            <div class="dropDown">
              <p-dropdown  [options]="countries" formControlName="phoneCode" optionLabel="name" [showClear]="false"
              [placeholder]="'Profile.Select_a_Country' | translate" class="my-3 w-100 me-5">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value">
                  <div>
                    {{ forgetForm.get("phoneCode")?.value.name }}
                    <img width="20" height="20" class="ms-2" [src]="forgetForm.get('phoneCode')?.value.img">
                  </div>
                </div>
              </ng-template>
              <ng-template let-country pTemplate="item">
                <div class="country-item">
                  <div class="d-flex align-items-center justify-content-between">
                    {{ country.name }}
                    <img width="20" height="20" class="mx-3" [src]="country.img" alt="" />
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            </div>
            <!-- <div class="countrySelect"> -->
              <!-- <p-dropdown  [options]="countries" formControlName="phoneCode" optionLabel="name" [showClear]="false"
            [placeholder]="'Profile.Select_a_Country' | translate" class="me-1">
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value">
                <div>
                  {{ forgetForm.get("phoneCode")?.value }}
                  <img width="20" height="20" class="ms-2" [src]="forgetForm.get('phoneCode')?.value.img">
                </div>
              </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
              <div class="country-item">
                <div class="d-flex align-items-center justify-content-between">
                  {{ country.name }}
                  <img width="20" height="20" class="mx-3" [src]="country.img" alt="" />
                </div>
              </div>
            </ng-template>
          </p-dropdown> -->
              <!-- <p-dropdown
                [options]="countries"
                formControlName="phoneCode"
                optionLabel="name"
                [showClear]="false"
                [placeholder]="'Profile.Select_a_Country' | translate"
                class="me-1"
              >
                <ng-template pTemplate="selectedItem">
                  <div class="country-item country-item-value">
                    <div>
                      {{ forgetForm.get("phoneCode")?.value.name }}
                      <img
                        width="20"
                        height="20"
                        class="ms-2"
                        [src]="forgetForm.get('phoneCode')?.value.img"
                      />
                    </div>
                  </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                  <div class="country-item">
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      {{ country.name }}
                      <img
                        width="20"
                        height="20"
                        class="mx-3"
                        [src]="country.img"
                        alt=""
                      />
                    </div>
                  </div>
                </ng-template>
              </p-dropdown> -->
            <!-- </div> -->

            <!-- formControlName -->
            <!-- formControlName -->
            <!-- <mat-form-field class="example-full-width  position-relative w-75">
              <mat-label>{{'LABELS.Phone' |translate}}</mat-label>
              <input matInput placeholder="{{'LABELS.Phone' |translate}}" type="number" formControlName="phoneNumber" /> -->
            <div class="w-75">
              <input
                class="w-100"
                placeholder="{{ 'LABELS.Phone' | translate }}"
                formControlName="phoneNumber"
                pInputText
              />
            </div>

            <small
              class="text-danger position-absolute bottom-0 top-100 mt-1"
              style="left: 0"
              *ngIf="submitted && forgetForm.get('phoneNumber')?.errors?.['required']"
            >
              {{ "MESSAGES.PHONE_NUMBER" | translate }}</small
            >

            <small
              *ngIf="submitted && forgetForm.get('phoneNumber')?.errors?.['pattern']"
              class="text-danger position-absolute bottom-0 top-100 mt-1"
              style="left: 0"
            >
              {{ "MESSAGES.PHONE_NUMBER2" | translate }}</small
            >
            <!-- </mat-form-field> -->
          </div>
        </div>

        <div class="d-flex justify-content-center align-items-center my-5">
          <button
            class="btn-form btn d-flex justify-content-center"
            (click)="forget()"
          >
            <div *ngIf="Loading == true" class="loader m-auto"></div>

            {{ "BUTTONS.Reset_Password" | translate }}
          </button>
        </div>

        <div class="d-flex justify-content-center align-items-center mb-3">
          <div class="text-muted txt-foot me-1">
            {{ "HOME.LOGOUTEXT" | translate }}
          </div>
          <div class="">
            <button (click)="tab('register')" class="btn-create">
              {{ "BUTTONS.Create_Account" | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
