.login {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.txt-header {
  h1 {
    color: #0e1740;
    font-size: 24px;
    font-weight: 700;
  }
}
.login-form {
  width: 100%;
  .btn-forget {
    color: #0e1740;
    border: 0;
    background-color: transparent;
  }
  .btn-form {
    background-color: #5e2d77;
    color: #FFF;
    border: 1px solid #5e2d77;
    font-size: 15px;
    padding: 8px 10px;
    height: 45px;
    width: 70%;
  }
  .btn-form:hover {
    background-color: #FFF;
    color: #5e2d77;
  }
}

.txt-foot {
  font-size: 12px;
}

.btn-create {
  border: 0;
  background-color: transparent;
  color: #5e2d77;
  font-size: 14px;
  font-weight: 600;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #5f2d79;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.btn-eye {
  position: absolute;
  margin: 0px 10px;
  right: 0px;
  background-color: transparent;
  border: 0;
  font-size: 13px;
  color: rgb(163, 157, 157) !important;
  top: 15px;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.phoneNumber{
  width: 350px !important;
}
.p-dropdown {
  width: 10vw !important;
}
.dropDown{
  width: 3vw;
}
::ng-deep{
  // .p-dropdown-label{
  //   width: 2vw;
  // }
  .p-dropdown {
    border: 1px solid #beb8b8 !important;
  }
  .p-dropdown .p-dropdown-trigger {
    background: transparent;
    margin-left: -1rem;
    color: #6c757d;
    /* width: 3rem; */
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.p-dropdown .p-dropdown-label.p-placeholder {
  color: #fff;
  //border: 1px solid #beb8b8;
  width: 80px;
  padding: 7px !important;

}

}
