.header_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .btn {
    color: #ffffff;
    background: var(--mainColor);
    border: 1px solid var(--mainColor);
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 5px;
    &:enabled:hover {
      background: transparent;
      color: var(--mainColor);
      border-color: var(--mainColor);
    }
  }
.mat-toolbar-single-row {
  background-color: red !important;
 }
