.categories {
    margin: 75px 0px;
    overflow: hidden;
    .swiper {
        padding: 10px 0;
        a.ng-star-inserted {
            height: 50px;
            width: 80px;
            background: white;
            margin-left: 6px;
            padding: 5px;
            border-radius: 10px;
            box-shadow: 1px 1px 5px 0px lightgrey;
            img {
                padding: 5px;
            }
        }
    }
    .categories_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .all {
            color: #9fa3b2;
            font-size: 14px;
        }
        .search_btn {
            display: flex;
            align-items: center;
            background-color: #f5f9f9;
            padding: 5px;
            border-radius: 5px;
            margin-right: 2px;
            height: 38px;
            font-size: 12px;
            font-weight: 500;

            button {
                background-color: #fcb116;
                border: none;
                border-radius: 5px;
                padding: 10px 15px;
                height: 38px;
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
}

::ng-deep {
    .p-inputtext {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 12px;
        color: #495057;
        background: #f5f9f9;
        border: 0px solid #ced4da;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 6px;
        text-align: left;
    }
    .p-inputtext::placeholder {
        color: #d8dae0 !important;
    }
    // .p-inputtext.p-inputtext-sm {
    //   font-size: 0.875rem;
    // }
    // .p-input-icon-right > i:last-of-type {
    //   color: #9fa3b2;
    // }
}

.parents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 10px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    .active_parent {
        background-color: #f5f9f9 !important;
        color: #5e2d77 !important;
        text-decoration: none;
        padding: 10px 15px;
        margin-left: 0% !important;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
    }
    .not_active_parent {
        background-color: transparent !important;
        color: black !important;
        text-decoration: none;
        padding: 10px 15px;
        margin-left: 0% !important;
        width: 100%;
        text-align: center;
        font-weight: initial;
        font-size: 12px;
    }
}

.childs {
    background-color: #f5f9f9;
    height: 100vh;
    width: 100%;
}

::ng-deep {
    .mat-expansion-panel {
        box-sizing: content-box;
        display: block;
        margin: 10px 5px !important;
        border-radius: 15px;
        overflow: hidden;
        transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        background: #ffff;
        .collapse-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .mat-expansion-panel-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0px !important;
        border-radius: inherit;
        transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .children-cover {
        height: 50px !important;
        width: 50px !important;
        border-radius: 5px;
        object-fit: cover;
    }
    .children-contain {
        object-fit: contain;
        height: 50px !important;
        width: 50px !important;
        border-radius: 5px;
    }
    .test {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 5px 10px;
    }
    .mat-expansion-panel:not([class*="mat-elevation-z"]) {
        box-shadow: none;
        border-radius: 10px;
    }
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
        margin-right: 0 !important;
    }
}
