.login {
  height: 100vh !important;
  display: flex !important;
  align-items: flex-start !important;
  flex-direction: column !important;
  margin-top: -1rem !important;
}
.txt-header
{
  h1
  {
    color: #0E1740;
    font-size: 24px;
    font-weight: 700;
  }
}
.txt
  {
    margin-bottom: 5rem !important;
    p{
      font-size: 15px;
      color: #ccd1e0;
    }
  }
.forget-form
{
  .btn-forget
  {
    color: #0E1740;
    border: 0;
    background-color: transparent;
  }

  .btn-form:hover
  {
    background-color: #5E2D77;
    color: #FFFFFF;
  }
}
.resetbtn{
     background-color: #5e2d77;
    color: white;
    border: 1px solid #5e2d77;
    font-size: 21px;
    padding: 19px 10px;
    width: 85% !important;
    border-radius: 12px;
}
.txt-foot
{
  font-size: 12px;

}

.btn-create
{
  border: 0;
  background-color: transparent;
  color: #5E2D77;
  font-size: 14px;
  font-weight: 600;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #5F2D79;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
