.mobile {
    margin-top: 75px;
    background-color: #f5f9f9;
    .price {
        button {
            height: 28px;
            font-size: small;
            display: flex;
            align-items: center;
        }
    }
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .item {
            background-color: transparent;
            color: #0f183d;
            border: 1px #0f183d solid;
            margin: 5px;
            height: 28px;
            font-size: small;
            padding: 0 10px;
        }
    }
    .card {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        border: none;
        border-radius: 15px !important;
        padding: 15px;
        .img {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            img {
                width: 86px !important;
                height: auto;
                border-radius: 10px;
            }
        }
    }
}

.checkout {
    background-color: #5e2d77;
    border: none;
    border-radius: 15px;
    padding: 20px 20px;
    width: -webkit-fill-available;
}

.text-color {
    color: #9fa3b2 !important;
}

.delete {
    background-color: #d92059;
    color: #fff !important;
    padding: 15px !important;
    border-radius: 10px;
}

::ng-deep {
    .p-dialog .p-dialog-content:last-of-type {
        /* border-bottom-left-radius: 6px; */
        border-radius: 10px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .p-dialog .p-dialog-header {
        border-bottom: 0 none;
        background: #ffffff;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
    footer.mobile {
        margin-bottom: 100px !important;
    }
    .p-inputnumber-buttons-horizontal .p-inputnumber-input {
        width: 60px;
        max-width: 150px;
        border: 1px solid lightgray;
        margin: 0 10px;
        text-align: center;
        border-radius: 5px !important;
    }
    .p-inputnumber {
        input,
        button {
            height: 40px;
            border-radius: 10px;
        }
        .p-button-success,
        .p-button-danger {
            background-color: #efeaf1;
            border: 1px solid #efeaf1;
            border-radius: 5px !important;
        }
    }
    .p-tabview-panels {
        font-size: 12px;
    }
    p-tabPanel {
        .row {
            padding: 3px;
        }
        .row:nth-child(odd) {
            background-color: #f5f9f9;
        }
    }
    .mat-radio-label-content {
        padding-left: 0px !important;
    }
    .mat-radio-label {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .attributeValue {
        margin-right: 5px;
        .mat-radio-button {
            border-radius: 5px !important;
            background-color: white;
            border: 1px solid lightgray;
        }
        .mat-radio-container {
            display: none;
        }
        .mat-radio-checked {
            border-radius: 5px !important;
            background-color: #efeaf1;
        }
    }
    .mat-radio-outer-circle {
        display: none !important;
    }
    .mat-radio-button {
        padding: 0 5px;
        margin-right: 5px;
        border-radius: 5px;
        width: 25px;
        height: 25px;
    }
    .mat-radio-checked {
        border-radius: 50% !important;
    }
    .p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-down,
    .p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-up,
    .p-inputnumber-buttons-horizontal .p-inputnumber-input {
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.input-group-text {
    background-color: #0e1740 !important;
    color: #fff !important;
}

.input-group {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: stretch; */
    width: 96%;
}

.checkout {
    background-color: #5e2d77;
    border: none;
    border-radius: 15px;
    padding: 20px 20px;
}

.deleteButton {
    background-color: #fbe8ee;
    color: #d92059;
}

.web {
    background-color: #f5f9f9;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item {
            background-color: transparent;
            color: #0f183d;
            border: 1px #0f183d solid;
            margin: 5px;
        }
    }
    .card {
        display: flex;
        flex-direction: row;
        justify-content: start;
        border: none;
        border-radius: 15px !important;
        .img {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            img {
                width: 60% !important;
                height: auto;
                border-radius: 10px;
            }
        }
    }
}

.text-color {
    color: #9fa3b2 !important;
}

.delete {
    background-color: #d92059;
    color: #fff !important;
    padding: 15px !important;
    border-radius: 10px;
}

::ng-deep {
    .p-dialog .p-dialog-content:last-of-type {
        /* border-bottom-left-radius: 6px; */
        border-radius: 10px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .p-dialog .p-dialog-header {
        border-bottom: 0 none;
        background: #ffffff;
        color: #343a40;
        padding: 0rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
    footer.mobile {
        margin-bottom: 100px !important;
    }
    .p-inputnumber-buttons-horizontal .p-inputnumber-input {
        width: 60px;
        max-width: 150px;
        border: 1px solid lightgray;
        margin: 0 10px;
        text-align: center;
        border-radius: 5px !important;
    }
    .p-inputnumber {
        input,
        button {
            height: 40px;
            border-radius: 10px;
        }
        .p-button-success,
        .p-button-danger {
            background-color: #efeaf1;
            border: 1px solid #efeaf1;
            border-radius: 5px !important;
        }
    }
    .p-tabview-panels {
        font-size: 12px;
    }
    p-tabPanel {
        .row {
            padding: 3px;
        }
        .row:nth-child(odd) {
            background-color: #f5f9f9;
        }
    }
    .mat-radio-label-content {
        padding-left: 0px !important;
    }
    .mat-radio-label {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .attributeValue {
        margin-right: 5px;
        .mat-radio-button {
            border-radius: 5px !important;
            background-color: white;
            border: 1px solid lightgray;
        }
        .mat-radio-container {
            display: none;
        }
        .mat-radio-checked {
            border-radius: 5px !important;
            background-color: #efeaf1;
        }
    }
    .mat-radio-outer-circle {
        display: none !important;
    }
    .mat-radio-button {
        padding: 0 5px;
        margin-right: 5px;
        border-radius: 5px;
        width: 25px;
        height: 25px;
    }
    .mat-radio-checked {
        border-radius: 50% !important;
    }
}

.input-group-text {
    background-color: #0e1740 !important;
    color: #fff !important;
}

.input-group {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: stretch; */
    width: 96%;
}

.checkout {
    background-color: #5e2d77;
    border: none;
    border-radius: 15px;
    padding: 20px 20px;
}

.deleteButton {
    background-color: #fbe8ee;
    color: #d92059;
}

.empty {
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.empty-btn {
    background-color: #0e1740;
    border: none !important;
    border-radius: 15px;
    color: #fff !important;
    padding: 20px 0px;
}
.aplyINput ,.aplybtn{
  border-radius: 8px !important;
}
.wishListWrapper{
  //margin-right: -3rem !important;
  background-color: #afadad17;
  width: 30px;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .wishlist-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: #2c3341;
    .wishlist-active {
      color: red;
    }
  }
}
.wishlistBtn{
  outline: none;
  border: none;
  span{
    margin-top: .2rem;
  }
}
.wishlistBtn:hover{
    outline: none;
    border: none;
}


