<div class="all mobile">
  <div class="my-3">
    <button (click)="backToMenu()" class="btn back">
      <i
        [ngClass]="selectedLang !== 'en'?'fa-solid fa-chevron-right fs-5 mx-2' :'fa-solid fa-chevron-left mx-2 fs-5'"></i>

    </button>
    <span class="mx-1 fs-4 faqs">{{'menu.FAQs'|translate}}</span>
  </div>
  <div>
    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
      *ngFor="let item of faqs">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="collapse-header py-0 w-100  fw-bold">
            <p class="ps-3 faqItem">{{ item.faq }} ?</p>
            <mat-icon *ngIf="item.length !== 0">
              {{
              panelOpenState ? "keyboard_arrow_up" : "keyboard_arrow_down"
              }}</mat-icon>
            <mat-icon *ngIf="item.length === 0">keyboard_arrow_right</mat-icon>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-12">
          <div class="test">
            <p style="font-size: 12px; font-weight:500 p-1">{{ item.answer }}</p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
