<div class="container-fluid">
  <div class="login ps-1">
    <div>
      <button class="btn p-0 back" (click)="backToHome()">
        <i class="fa-solid fa-chevron-left fs-3"></i>
      </button>
    </div>
    <div class="my-5 loginText">
      <h1>{{ "HOME.LOGINTEXT" | translate }}</h1>
    </div>

    <div class="login-form">
      <form [formGroup]="loginForm">
        <div
          class="d-flex justify-content-between align-items-center position-relative"
        >
          <div class="d-flex justify-content-between align-items-center w-100">
            <mat-form-field
              class="example-full-width position-relative pe-2 w-25"
            >
              <mat-label>{{ "PLACEHOLDERS.Code" | translate }}</mat-label>
              <mat-select
                formControlName="phoneCode"
                [placeholder]="'PLACEHOLDERS.Code' | translate"
                (selectionChange)="checkCode()"
                panelClass="myPanelClass"
              >
                <mat-option value="+20"
                  >+20
                  <img
                    src="./../../../../../assets/images/egypt.png"
                    width="20"
                    height="20"
                /></mat-option>
                <mat-option value="+966"
                  >+966
                  <img
                    src="./../../../../../assets/images/download (3).png"
                    width="20"
                    height="20"
                /></mat-option>
              </mat-select>
              <small
                class="text-danger position-absolute bottom-0 top-100 mt-2"
                style="left: 0"
                *ngIf="
                  submitted && loginForm.get('phoneCode')?.hasError('required')
                "
              >
                {{ "MESSAGES.required" | translate }}</small
              >
            </mat-form-field>
            <!-- formControlName -->
            <!-- formControlName -->
            <mat-form-field class="example-full-width position-relative w-75">
              <mat-label>{{ "LABELS.Phone" | translate }}</mat-label>
              <input
                matInput
                [placeholder]="'PLACEHOLDERS.phoneNumber' | translate"
                type="number"
                formControlName="phoneNumber"
              />
              <small
                class="text-danger position-absolute bottom-0 top-100 mt-1"
                style="left: 0"
                *ngIf="submitted && loginForm.get('phoneNumber')?.errors?.['required']"
              >
                {{ "MESSAGES.PHONE_NUMBER" | translate }}</small
              >

              <small
                *ngIf="submitted && loginForm.get('phoneNumber')?.errors?.['pattern']"
                class="text-danger position-absolute bottom-0 top-100 mt-1"
                style="left: 0"
              >
                {{ "MESSAGES.PHONE_NUMBER2" | translate }}</small
              >
            </mat-form-field>
          </div>
        </div>

        <mat-form-field class="example-full-width position-relative w-100">
          <mat-label>{{ "LABELS.Password" | translate }}</mat-label>
          <input
            matInput
            [placeholder]="'PLACEHOLDERS.Password' | translate"
            [type]="!showPassword ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            *ngIf="!showPassword"
            class="btn-eye"
            type="button"
            (click)="checkPassword()"
          >
            <i *ngIf="!showPassword" class="fa-regular fa-eye-slash"></i>
          </button>
          <button
            *ngIf="showPassword"
            class="btn-eye"
            type="button"
            (click)="checkPassword()"
          >
            <i *ngIf="showPassword" class="fa-regular fa-eye"></i>
          </button>
          <small
            class="text-danger position-absolute bottom-0 top-100 mt-2"
            style="left: 0"
            *ngIf="submitted && loginForm.get('password')?.hasError('required')"
          >
            {{ "MESSAGES.Message_Password" | translate }}</small
          >
        </mat-form-field>
        <div class="my-4 text-center">
          <button class="btn-forget my-4" (click)="goToForgetPassword()">
            {{ "BUTTONS.Forgot_Password" | translate }}
          </button>
        </div>
        <div
          class="d-flex justify-content-center align-items-center w-100 my-3"
        >
          <button
            class="btn-form btn w-100"
            (click)="login()"
            [disabled]="!loginForm.valid"
          >
            <div *ngIf="Loading == true" class="loader"></div>
            {{ Loading == false ? "Login" : "" }}
          </button>
        </div>

        <div
          class="d-flex justify-content-center align-items-center creataccount"
        >
          <div class="text-muted txt-foot me-1 fs-6">
            {{ "HOME.LOGOUTEXT" | translate }}
          </div>
          <div class="">
            <button routerLink="/auth/register" class="btn-create my-2 fs-6">
              {{ "HOME.CREATE_ACCOUNT" | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
